<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="pmml-utils.ZPM">
    <Module>
      <Name>pmml-utils</Name>
      <Version>1.1.1</Version>
      <Description>Basic utilities for working with PMML in an Interoperability Production</Description>
      <Packaging>module</Packaging>
      <LifecycleClass>PMML.Lifecycle</LifecycleClass>
      <Resources>
        <Resource Name="PMML.PKG">
          <Attribute Name="Directory">./src/cls/</Attribute>
        </Resource>
      </Resources>
    </Module>
  </Document>
</Export>